@charset "UTF-8";

/* common(공통) css */

* {
    margin: 0;
    padding: 0;

    font-family: "Noto Sans KR", sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
ul,ol,li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}