@charset "UTF-8";

/* header css */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    width: 100%;
    height: 80px;
    /* background-color: #181C14; */

    outline: 1px solid #999;
    white-space: nowrap;
}
header .header-inner {
    width: 1280px; /* 컨텐츠 너비 1280px */
    max-width: 1920px; /* 최대 너비 1920px */
    margin: 0 auto;
    height: 100%;
}

header .header-inner .gnb {
    height: 100%;
    text-align: center;
}
header .header-inner .gnb .gnb-list {
    display: inline-block;
}
header .header-inner .gnb .gnb-list::after {
    content: "";
    display: block;
    clear: both;
}
header .header-inner .gnb .gnb-list li {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 80px;

    float: left;
}
header .header-inner .gnb .gnb-list li~li {
    margin-left: 160px;
}
.gnb-list .gnb-logo a img {
    display: block;
    width: 60px;
    margin-top: 10px;
}
