@charset "UTF-8";

/* menu.css */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #181C14;    
}

/* 버튼 공통 디자인 */
.prev, .next {
    font-size: 24px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    color: #181C14;
    background-color: #fff;
    text-align: center;
}

/* main *****************************************************/
main {
    width: 100%;
    height: 440px;
    max-width: 1920px;
    padding-top: 180px;

    margin-bottom: 200px;
}
main .main-inner {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;

    position: relative; /* .slide-box, .main-info의 기준 */
}

/* 왼쪽 이미지 */
main .main-inner .slide-box {
    width: 600px;
    height: 440px;
    padding: 20px;
    box-sizing: border-box;

    position: absolute;
    left: 0;
    top: 0;
}
.slide-box .main-img-wrap {
    overflow: hidden;
}

.slide-box .main-img-wrap .main-img {
    width: 400%;
    height: 100%;
    
    position: relative; /* 슬라이드 이동 준비 */
    left: 0;

    margin-bottom: 20px;
}
.slide-box .main-img-wrap .main-img::after {
    content: "";
    display: block;
    clear: both;
}
.slide-box .main-img-wrap .main-img li {
    width: 25%;
    float: left;
}
.slide-box .main-img-wrap .main-img li img {
    width: 100%;
    display: block;
}

/* 페이저 */
.slide-box .main-img-wrap .main-pager {
    text-align: center;
}
.slide-box .main-img-wrap .main-pager li {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
}
.slide-box .main-img-wrap .main-pager li ~ li {
    margin-left: 18px;
}
.slide-box .main-img-wrap .main-pager li.active {
    color: #fff;
}

/* 오른쪽 텍스트 */
main .main-inner .main-info {
    width: 600px;
    height: 440px;
    padding: 20px;
    box-sizing: border-box;

    color: #fff;

    position: absolute;
    right: 0;
    top: 0;
}
main .main-inner .main-info .main-info-inner {
    position: relative;
    top: 30%;
    transform: translateY(-30%);

}

main .main-inner .main-info .main-name {
    font-size: 28px;
    font-weight: 600;
    line-height: 50px;
}
main .main-inner .main-info .main-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
}
main .main-inner .main-info .main-option {
    font-size: 18px;
    font-weight: 500;

    margin-bottom: 26px;
}

main .main-inner .main-info .main-caption {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}
.main-caption p {
    margin-bottom: 14px;
}
.main-caption p span {
    color: #fff;
    font-weight: 500;
}


/* article : yuksu ***************************************************/
article.yuksu {
    width: 100%;
    height: 780px;
    max-width: 1920px;

    margin-bottom: 200px;
}
article.yuksu .yuksu-inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    position: relative; /* .yuksu-info, slide-box의 기준 */
}
article.yuksu .yuksu-inner .yuksu-info {
    width: 45%;

    position: absolute;
    left: 0;
    top: 0;
}
.yuksu-info .yuksu-title {
    color: #fff;
}

/* .yuksu-info의 타이틀 **************************************************/
.yuksu-info .yuksu-title p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 40px;
}
.yuksu-info .yuksu-title h3 {
    font-size: 26px;
    font-weight: 500;

    padding-bottom: 48px;
}

/* .yuksu-info의 내용 **************************************************/
.yuksu-info .yuksu-desc {
    width: 100%;
}

.yuksu-info .yuksu-desc li {
    display: flex;
    align-items: flex-start;   /* 텍스트 위 기준 정렬 */
    margin-bottom: 48px;

    color: rgba(255, 255, 255, 0.7);

    position: relative; /* 가상요소 before, img의 기준 */
}
/* 구분선 */
.yuksu-info .yuksu-desc li::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;

    width: 100%;
    height: 1px;
    background-color: #fff;
}

/* 육수 옵션 (왼쪽 제목) */
.yuksu-info .yuksu-desc li .yuksu-option {
    flex-shrink: 0;
    width: 120px;              
    margin-right: 40px;

    font-size: 18px;
    font-weight: 600;
    color: #fff;

    padding: 0 10px;
    box-sizing: border-box;
}

/* 육수 설명 (오른쪽 텍스트 묶음) */
.yuksu-info .yuksu-desc li .yuksu-detail {
    flex: 1;
}

.yuksu-info .yuksu-desc li .yuksu-detail p {
    margin-bottom: 12px;
    line-height: 1.7;
}
.yuksu-info .yuksu-desc li .yuksu-detail p span {
    color: #fff;
    font-weight: 600;
}
.yuksu-info .yuksu-desc li .yuksu-detail p:last-child {
    color: #fff;
    font-weight: 600;
}
.yuksu-info .yuksu-desc li img {
    width: 56px;
    display: block;
    position: absolute;
    left: 14px;
    bottom: 40px;
}
.yuksu-info .yuksu-desc li:nth-child(2) img {
    left: 10px;
}
.yuksu-info .yuksu-desc li:last-child img {
    bottom: 54px;
}

/* 슬라이드 ***************************************************/

/* 슬라이드 전체 */
article.yuksu .yuksu-inner .slide-box {
    width: 576px;
    overflow: hidden;

    position: absolute;
    right: 0;
    top: 14px;
}

/* 슬라이드 영역 */
.slide-box .slider {
    width: 100%;
    overflow: hidden;
}

/* 실제 슬라이드 ul */
.slide-box #yuksu-img {
    width: 400%;
    transition: transform 0.6s ease;
}

/* 슬라이드 한 장 */
.slide-box #yuksu-img li {
    float: left;
    width: 25%;
}
.slide-box #yuksu-img li img {
    width: 100%;
    display: block;
}

/* 육수 버튼 위치 */
article.yuksu > .yuksu-inner .slide-box .slider {
    position: relative;
}
article.yuksu > .yuksu-inner .slide-box .slider:hover .yuksu-btn {
    opacity: 1;
}

.yuksu-btn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);

    opacity: 0; /* 초기 설정 */
    transition: opacity 0.3s;
}

.yuksu-btn .prev {
    position: absolute;
    left: 0;
    top: 0;
}
.yuksu-btn .next {
    position: absolute;
    right: 0;
    top: 0;
}

/* 페이저 ****************************************************/
.yuksu-meta {
    margin-top: 16px;
}
.yuksu-meta #yuksu-pager {}
.yuksu-meta #yuksu-pager li {
    cursor: pointer;
    color: rgba(255,255,255,0.4);

    display: inline-block;
}
.yuksu-meta #yuksu-pager li ~ li {
    margin-left: 10px;
}
.yuksu-meta #yuksu-pager li.active {
    color: #fff;
}


/* article : sotbap */
article.sotbap {
    width: 100%;
    height: 780px;
    max-width: 1920px;

    margin-bottom: 200px;
}
article.sotbap .sotbap-inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    position: relative;
}

/* 슬라이드 ***********************************************************************/
article.sotbap .sotbap-inner .slide-box  {
    width: 576px;
    overflow: hidden;

    position: absolute;
    left: 0;
    top: 0;
}
.slide-box .slider {
    width: 100%;
    overflow: hidden;
}
.slide-box .slider #sotbap-img {
    width: 300%;
    transition: transform 0.6s ease;
}
.slide-box #sotbap-img li {
     float: left;
    width: 33.3334%;
}
.slide-box .slider #sotbap-img li img {
    width: 100%;
    display: block;
}

/* 페이저 */
.sotbap-meta {
    margin-top: 16px;
}
.sotbap-meta #sotbap-pager {}
.sotbap-meta #sotbap-pager li {
    cursor: pointer;
    color: rgba(255,255,255,0.4);

    display: inline-block;
}
.sotbap-meta #sotbap-pager li ~ li {
    margin-left: 10px;
}
.sotbap-meta #sotbap-pager li.active {
    color: #fff;
}

/* 버튼 위치 */
article.sotbap > .sotbap-inner .slide-box .slider {
    position: relative;
}
article.sotbap > .sotbap-inner .slide-box .slider:hover .sotbap-btn {
    opacity: 1;
}

.sotbap-btn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);

    opacity: 0; /* 초기 설정 */
    transition: opacity 0.3s;
}

.sotbap-btn .prev {
    position: absolute;
    left: 0;
    top: 0;
}
.sotbap-btn .next {
    position: absolute;
    right: 0;
    top: 0;
}

/* .sotbap-info 내용 ************************************/
article.sotbap .sotbap-inner .sotbap-info {
    width: 45%;

    position: absolute;
    right: 0;
    top: 96px;
}
.sotbap-info .sotbap-title {
    color: #fff;
}
.sotbap-info .sotbap-title p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 40px;
}
.sotbap-info .sotbap-title h3 {
    font-size: 26px;
    font-weight: 500;

    padding-bottom: 48px;
}

.sotbap-info .sotbap-desc {
    width: 100%;
}
.sotbap-info .sotbap-desc li {
    display: flex;
    align-items: flex-start;   /* 텍스트 위 기준 정렬 */
    margin-bottom: 48px;

    color: rgba(255, 255, 255, 0.7);

    position: relative; /* 선택자 before, img의 기준 */
}
/* 구분선 */
.sotbap-info .sotbap-desc li::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;

    width: 100%;
    height: 1px;
    background-color: #fff;
}


.sotbap-info .sotbap-desc li .sotbap-option {
    flex-shrink: 0;
    width: 125px;              
    margin-right: 40px;

    font-size: 18px;
    font-weight: 600;
    color: #fff;

    padding: 0 10px;
    box-sizing: border-box;
}

.sotbap-info .sotbap-desc li .sotbap-detail {
    flex: 1;
}

.sotbap-info .sotbap-desc li p {
    margin-bottom: 12px;
    line-height: 1.7;
}
.sotbap-info .sotbap-desc li p span {
    color: #fff;
    font-weight: 600;
}
.sotbap-info .sotbap-desc li p:last-child {
    color: #fff;
    font-weight: 600;
}
.sotbap-info .sotbap-desc li img {
    width: 56px;
    display: block;
    position: absolute;
    left: 14px;
    bottom: 40px;
}

/* article : menu-img ****************************************/
.menu-img {
    width: 100%;
    max-width: 1920px;
}
.menu-img .img-box {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.menu-img .img-box li {
    margin-bottom: 100px;
}
.menu-img .img-box li img {
    width: 100%;
    display: block;
}



