@charset "UTF-8";

/* notice.css */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #181C14;

}

/* main *****************************************************/

.notice-main {
    width: 100%;
    height: 680px;
    max-width: 1920px;
    margin: 0 auto 150px;

    position: relative; /* 가상요소 after의 기준 */
}
.notice-main .notice-content {
    width: 100%;
    height: 100%;
    background: url(../images/04_notice/notion_main_bg.jpg) no-repeat center/cover;

    z-index: 0;
}
.notice-main .notice-content::after {
     content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);

    height: 680px;
}

.notice-main .notice-info {
    z-index: 1;

    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -56%);
}
.notice-main .notice-info .notice-title {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

/* section ***********************************************************/

section {}
section .notice-content {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;

    outline: 2px solid red;
}
.notice-content .notice-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    margin-bottom: 80px;
}
.notice-list .notice-item {
    width: calc((100% - 80px)/3);
}

.notice-list .notice-item img {
    width: 100%;
    display: block;
}

.notice-list .notice-item .notice-txt {
    width: 100%;
    height: 160px;
    background-color: #fff;

    padding: 16px 24px;
    box-sizing: border-box;
    
}
.notice-list .notice-item .notice-txt .badge {
    font-size: 18px;
    font-weight: 400;

    width: 70px;
    height: 30px;
    padding: 4px 8px;

    text-align: center;
    margin-bottom: 10px;

    /* outline: 1px solid red; */
}
.notice-list .notice-item .notice-txt p.new-menu {
    background-color: #697565;
    color: #fff;
}
.notice-list .notice-item .notice-txt p.new-store {
    background-color: #ECDFCC;
    color: #3C3D37;
}
.notice-list .notice-item .notice-txt p.news {
    background-color: #8E7373;
    color: #fff;
}
.notice-list .notice-item .notice-txt .item-title {
    font-size: 20px;
    font-weight: 600;
}